@import "_variables";

html,
body{
  margin: 0;
  height: 100%;
  background: red;
  font-family: Arial, sans-serif;
}

h1, ul {margin: 0;}

.container {
  width: 1280px;
  margin: 0 auto;
}

.pageHead {
  background: @darkColor;
  .sectionStylesMixin();
  &:after{
    content: '';
    clear: both;
    display: block;
  }

  .productName {
    width: 50%;
    float: left;
    color: @lightColor;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }
    .headProductImg {
        background: @lightColor;
        width: 469px;
        height: 214px;
        float: right;
    }
    
    .headProductList {
        width: 50%;
        float: left;
        list-style: inside url("../img/check_icon.png");
        padding-left: 0;
        margin-top: 28px;
        color:@lightColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }    

}

footer {

.contact {
    .sectionStylesMixin();
    background: @darkColor;
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    

contactsHead {
    color: @lightColor;
    text-align: center;
}
}
.copy {
    height: 26px;
    text-align: center;
    color: @darkColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    background: @sectionLightBackColor;
}

};